variables:
  KUBECONFIG: /etc/deploy/config

stages:
  - deploy

deploy:
  stage: deploy
  image: dtzar/helm-kubectl:3.5.0
  before_script:
    - mkdir -p /etc/deploy
    - echo ${my_kube_config} | base64 -d > ${KUBECONFIG}
  script:
    - helm upgrade guestbook . --install --values=values.yaml
  rules:
    - if: $CI_COMMIT_BRANCH == 'master'
      when: always
