# Default values for helm-test.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

frontend:
  name: guestbook
  containerRegistry: gitlab-registry.<ENV-GITLAB-DOMAIN>/git-user-<ENV-USER-ID>
  containerImage: guestbook-application
  replicaCount: 1
  port: 3000
  labels:
    name: guestbook
    component: frontend

backend:
  name: redis
  replicaCount: 1
  port: 6379
  labels:
    name: redis
    component: backend
